<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.knowledge.dao.mapper.KnowledgeFeiShuMapper">

    <select id="getFeiShuDocumentMappingListByNodeTokenList" parameterType="java.lang.String" resultType="neatlogic.framework.knowledge.dto.feishu.KnowledgeFeiShuDocumentMappingVo">
        SELECT
            `app_id` AS appId,
            `space_id` AS spaceId,
            `title`,
            `node_token` AS nodeToken,
            `obj_token` AS objToken,
            `obj_type` AS objType,
            `update_time` AS updateTime,
            `knowledge_document_type_uuid` AS knowledgeDocumentTypeUuid,
            `knowledge_document_id` AS knowledgeDocumentId,
            `knowledge_document_version_id` AS knowledgeDocumentVersionId,
            `status`,
            `config` AS configStr,
            `lcu`,
            `lcd`
        FROM `knowledge_feishu_document_mapping`
        WHERE `node_token` IN
        <foreach collection="list" item="nodeToken" open="(" separator="," close=")">
            #{nodeToken}
        </foreach>
    </select>

    <select id="getFeiShuDocumentMappingByNodeToken" resultType="neatlogic.framework.knowledge.dto.feishu.KnowledgeFeiShuDocumentMappingVo">
        SELECT
            `app_id` AS appId,
            `space_id` AS spaceId,
            `title`,
            `node_token` AS nodeToken,
            `obj_token` AS objToken,
            `obj_type` AS objType,
            `update_time` AS updateTime,
            `knowledge_document_type_uuid` AS knowledgeDocumentTypeUuid,
            `knowledge_document_id` AS knowledgeDocumentId,
            `knowledge_document_version_id` AS knowledgeDocumentVersionId,
            `status`,
            `config` AS configStr,
            `lcu`,
            `lcd`
        FROM `knowledge_feishu_document_mapping`
        where `node_token` = #{nodeToken}
    </select>

    <insert id="insertFeiShuDocumentMapping" parameterType="neatlogic.framework.knowledge.dto.feishu.KnowledgeFeiShuDocumentMappingVo">
        INSERT INTO `knowledge_feishu_document_mapping`
        (`app_id`, `space_id`, `title`, `node_token`, `obj_token`, `obj_type`, `update_time`, `knowledge_document_id`, `knowledge_document_version_id`, `knowledge_document_type_uuid`, `status`, `config`, `lcu`, `lcd`)
        VALUES
        (#{appId}, #{spaceId}, #{title}, #{nodeToken}, #{objToken}, #{objType}, #{updateTime}, #{knowledgeDocumentId}, #{knowledgeDocumentVersionId}, #{knowledgeDocumentTypeUuid}, #{status}, #{configStr}, #{lcu}, NOW(3))
    </insert>

    <update id="updateFeiShuDocumentMapping" parameterType="neatlogic.framework.knowledge.dto.feishu.KnowledgeFeiShuDocumentMappingVo">
        UPDATE `knowledge_feishu_document_mapping`
        SET
            `app_id` = #{appId},
            `space_id` = #{spaceId},
            `title` = #{title},
            `obj_token` = #{objToken},
            `obj_type` = #{objType},
            `update_time` = #{updateTime},
            `knowledge_document_id` = #{knowledgeDocumentId},
            `knowledge_document_version_id` = #{knowledgeDocumentVersionId},
            `knowledge_document_type_uuid` = #{knowledgeDocumentTypeUuid},
            `status` = #{status},
            `config` = #{configStr},
            `lcu` = #{lcu},
            `lcd` = NOW(3)
        WHERE `node_token` = #{nodeToken}
    </update>

    <update id="updateFeiShuDocumentMappingStatusByNodeToken">
        UPDATE `knowledge_feishu_document_mapping`
        SET
            `status` = #{status}
        WHERE `node_token` = #{nodeToken}
    </update>

    <insert id="insertFeiShuMediasMapping">
        INSERT INTO `knowledge_feishu_medias_mapping` (`file_token`, `file_id`)
        VALUES
            (#{fileToken}, #{fileId})
    </insert>

    <select id="getFeiShuMediasMappingFileIdByFileToken" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            `file_id`
        FROM `knowledge_feishu_medias_mapping`
        WHERE `file_token` = #{value}
    </select>
</mapper>
