<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.knowledge.dao.mapper.KnowledgeDocumentAuditMapper">

	<select id="getKnowledgeDocumentAuditListByKnowledgeDocumentId" parameterType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo" resultType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo">
	SELECT 
	  `knowledge_document_id` AS knowledgeDocumentId,
	  `knowledge_document_version_id` AS knowledgeDocumentVersionId,
	  `fcu`,
	  `operate`,
	  `fcd`,
	  `config_hash` AS configHash
	FROM `knowledge_document_audit` 
	WHERE `knowledge_document_id` = #{knowledgeDocumentId}
	ORDER BY `fcd` DESC
	<if test="needPage">
	LIMIT #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="getKnowledgeDocumentAuditListByDocumentIdAndVersionIdAndOperate" parameterType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo" resultType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo">
	SELECT 
	  `knowledge_document_id` AS knowledgeDocumentId,
	  `knowledge_document_version_id` AS knowledgeDocumentVersionId,
	  `fcu`,
	  `operate`,
	  `fcd`,
	  `config_hash` AS configHash
	FROM `knowledge_document_audit` 
	WHERE `knowledge_document_id` = #{knowledgeDocumentId} 
	and `knowledge_document_version_id` = #{knowledgeDocumentVersionId}
	and `operate` = #{operate}
	ORDER BY `fcd` DESC
	<if test="needPage">
	LIMIT #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="getKnowledgeDocumentAuditCountByKnowledgeDocumentId" parameterType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo" resultType="int">
	SELECT COUNT(1) FROM `knowledge_document_audit` WHERE `knowledge_document_id` = #{knowledgeDocumentId}
	</select>
	
	<select id="getKnowledgeDocumentAuditConfigStringByHash" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT `config` FROM `knowledge_document_audit_config` WHERE `hash` = #{value}
	</select>
	
	<insert id="insertKnowledgeDocumentAudit" parameterType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditVo">
	INSERT INTO `knowledge_document_audit` (
	  `knowledge_document_id`,
	  `knowledge_document_version_id`,
	  `fcu`,
	  `operate`,
	  `fcd`,
	  `config_hash`
	) 
	VALUES
	  (
	    #{knowledgeDocumentId},
	    #{knowledgeDocumentVersionId},
	    #{fcu},
	    #{operate},
	    NOW(),
	    #{configHash}
	  )
	</insert>
	
	<insert id="insertKnowledgeDocumentAuditConfig" parameterType="codedriver.module.knowledge.dto.KnowledgeDocumentAuditConfigVo">
	INSERT IGNORE INTO `knowledge_document_audit_config` (`hash`, `config`) VALUES (#{hash}, #{config})
	</insert>
	
</mapper>